.orange,
.gold,
.burgundy{

    position:absolute;

    border-radius:50%;

    filter:blur(120px);

    pointer-events:none;

    z-index:1;

}

.orange{

    width:650px;

    height:650px;

    top:-250px;

    left:-180px;

    background:rgba(183,108,48,.10);

}

.gold{

    width:600px;

    height:600px;

    top:-180px;

    right:-180px;

    background:rgba(212,178,106,.09);

}

.burgundy{

    width:520px;

    height:520px;

    bottom:-180px;

    left:50%;

    transform:translateX(-50%);

    background:rgba(124,71,53,.08);

}