.marquee{

    position:relative;

    overflow:hidden;

    padding:20px 0;

    background:
        linear-gradient(
            90deg,
            #17130F 0%,
            #5A321F 25%,
            #9A6235 50%,
            #5A321F 75%,
            #17130F 100%
        );

    border-top:1px solid rgba(212,178,106,.22);

    border-bottom:1px solid rgba(212,178,106,.22);

    box-shadow:
        0 0 30px rgba(0,0,0,.35);

}

.track{

    display:flex;

    width:max-content;

    animation:scroll 28s linear infinite;

}

.track span{

    display:flex;

    align-items:center;

    margin-right:70px;

    font-size:1.05rem;

    font-weight:700;

    color:#F4E8D0;

    letter-spacing:2px;

    text-transform:uppercase;

    white-space:nowrap;

    text-shadow:
        0 1px 8px rgba(0,0,0,.35);

}

.marquee:hover .track{

    animation-play-state:paused;

}

@keyframes scroll{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(-50%);

    }

}

@media(max-width:768px){

    .marquee{

        padding:17px 0;

    }

    .track span{

        font-size:.9rem;

        margin-right:45px;

    }

}